html {
    overflow-y: hidden;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carId {
    height: 9%;
    width : 3%;
    position: absolute;
}

div.trees {
    height: 10px;
    width: 10px;
    background: black;
    position: absolute;
}

div.coins {
    height: 10px;
    width: 10px;
    background: red;
    position: absolute;
}

div.test {
    height: 200px;
    width: 350px;
    background: #bdc3c7;
    margin: 0;
    display: flex;
    align-content: center;
    flex-direction: column;
}

div.button {
    height: 40px;
    width: 70px;
    background: red;
}