body {
    margin: 0;
    padding: 0;
    background: url('../images/map.png');
    background-repeat: no-repeat;
}

#perso {
    position: absolute;
}

.fightDiv {
    top: 10%;
    right: 80%;
    height: 400px;
    width: 400px;
    position: absolute;
    background: red;
    opacity: 0.3;
}


